<app-header></app-header>
<div class="landing-background">
    <div class="space-300"></div>
    <div class="space-50"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>THE <span class="boring">BORING</span><br> PROTOCOL</h1>
                <h2>Boring is building a decentralized VPN.</h2>
                <div class="space-100"></div>
                <button class="accessBtn" onclick="window.open('https://y.at/%F0%9F%95%B3%EF%B8%8F%F0%9F%92%BB%F0%9F%95%B3%EF%B8%8F')">Get Access</button>
            </div>
        </div>
    </div>
    <div class="space-400"></div>
    <div class="space-50"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="title">THE <span class="boring">BORING</span><br> WHITEPAPER</h1>
                <img class="title-icons-right" src="./assets/images/whitepaper.png">
            </div>
    </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
    <div class="space-400"></div>
    <div class="space-50"></div>
    <div class="container-fluid" style="padding: 0px;">
        <div class="row" style="--bs-gutter-x: 0px;">
            <div class="col">
                <img src="./assets/images/tokenomics.png" width=100%>
            </div>
        </div>
    </div>
    <div class="space-400"></div>
    <div class="space-50"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class=title>THIS IS OUR <br><span class="boring">BORING</span> TEAM</h1>
                <img class="title-icons-right" src="./assets/images/team.png" style="margin-top: -120px; margin-left: 230px;">
            </div>
        </div>
        <div class="space-200"></div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <div class="card-body">
                    <h3 class="name">NAME</h3>
                    <h3 class="role">Role/s</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
                
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6  mb-10">
                <img class="team-img mb-5" src="./assets/images/placeholder-1.png">
                <h3 class="name">NAME</h3>
                <h3 class="role">Role/s</h3>
            </div>
        </div>
    </div>
    <div class="space-400"></div>
    <div class="space-50"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class=title>OUR PARTNERS</h1>
                <img class="title-icons-right" src="./assets/images/partners.png" style="margin-top: -100px; margin-left: 270px;">
            </div>
        </div>
    </div>
    <div class="space-400"></div>
    <div class="space-50"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class=title>EXCHANGES</h1>
                <img class="title-icons-right" src="./assets/images/exchanges.png" style="margin-top: -100px; margin-left: 270px;">
            </div>
        </div>
    </div>
    <div class="space-400"></div>
    <div class="space-50"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class=title>CONTACTUS <span class="boring">US</span></h1>
                <img class="title-icons-right" src="./assets/images/contact.png" style="margin-top: -100px; margin-left: 270px;">
                <h2 style="margin-top: -80px; z-index: 3; position: absolute;">Leave us a message and we will reply as soon as possible</h2>
            </div>
        </div>
    </div>
    <div class="container contact-form">
        <form method="#">
           <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-2">
                        <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                    </div>
                    <div class="form-group mb-5">
                        <input type="text" name="txtPhone" class="form-control" placeholder="Your Subject *" value="" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-2">
                        <textarea name="txtMsg" class="form-control msg" placeholder="Your Message *" style="width: 100%; height: 200px;"></textarea>
                    </div>
                    <div class="form-group mb-2">
                        <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                    </div>
                </div>
            </div>
        </form>
</div>
</div>